html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	text-align: center; /* everything will be centered */	
}

#stage {
	display: inline-block;
	text-align: left;
	background: url(../images/background.jpg);
	position: relative;
	top: 50px;
	width: 30%;
	height: 70%;
	overflow: hidden;
}

#game_intro {
	margin-top: 70px;
	margin-bottom: -50px;
}

#gameover {
	background: black,
	opacity: 0.7;
	width: 100%;
	height: 100%;
	position: relative;
	color: white;
	line-height: 500px;
	text-align: center;
	font-size: 35px;
	z-index: 3;
}

.sprite {
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
}
			
.player {
	background: url(../images/player.png) no-repeat;
}

.enemy {
	background: url(../images/enemy.gif) center;
	z-index: 1;
}

.score {
	color: white;
	font-size: 24px;
	font-weight: bolder;
	width: 100%;
	height: auto;
	text-align: right;
	z-index: 2;
}

.footer {
	margin-top: 70px;
}

footer.footer {
	margin-top: 0px;
}

.header {
	font-size: 48px;
	margin-bottom: -30px;
}